body {
    margin: 0;
    background-color: #080a0f;
    color: white;
}

.card {
    background-color: #151821;
    color: white;
    border: 1px solid #252a35;

    transition: 0.3s;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-8px);
    border-color: #e50914;
}

.nav-link.router-link-active {
    color: #e50914 !important;
}